@model MVC_RNWA.Models.CrudEmp

@{
    ViewBag.Title = "Edit";
}
    <h2>Uređivanje podataka o djelatniku</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <p>Ime:</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Prezime:</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <p>Osobni ID:</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.extension, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.extension, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>E-mail:</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Broj ureda:</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.officeCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.officeCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Broj završenih prijava:</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.reportsTo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.reportsTo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Naziv posla:</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.jobTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.jobTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Spremi" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Nazad na popis", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
