@model MVC_RNWA.Models.CrudProp

@{
    ViewBag.Title = "Edit";
}

<h2>Uređivanje podataka o proizvodu</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            <p>Naziv proizvoda:</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.productName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.productName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Kategorija:</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.productLine, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.productLine, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Skala:</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.productScale, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.productScale, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Proizvođač:</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.productVendor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.productVendor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Detalji:</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.productDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.productDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Količina:</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.quantityInStock, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.quantityInStock, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Nabavna cijena:</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.buyPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.buyPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>Prodajna cijena:</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MSRP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MSRP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Spremi" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Nazad na popis", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
